@{
    ViewData["Title"] = "Home Page";
    // Layout = null;
}

<section id="home" class="video-hero js-fullheight" style="height: 700px; background-image: url(images/Gallery/_LYL9586.JPG); background-size:cover; background-position: top center;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <a class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=Mjjw19B7rMk',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default',optimizeDisplay:true}"></a>
    <div class="container">
        <div class="row js-fullheight justify-content-center d-flex align-items-center">
            <div class="col-md-12">
                <div class="text text-center">
                    <div class="icon">
                        <span class="flaticon-rose-outline-variant-with-vines-and-leaves"></span>
                    </div>
                    <span class="subheading">hôn lễ của chúng tôi</span>
                    <h1 style="font-size:5vw">Nguyễn Khánh</h1>
                    <h1 style="line-height:1; font-size:5vw">&amp;</h1>
                    <h1 style="font-size:5vw">Thu Hường</h1>
                    <div id="timer" class="d-flex">
                        <div class="time" id="days"></div>
                        <div class="time pl-3" id="hours"></div>
                        <div class="time pl-3" id="minutes"></div>
                        <div class="time pl-3" id="seconds"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-about ftco-no-pt ftco-no-pb" id="groom-bride-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap">
                    <div class="row d-flex">
                        <div class="col-md-6 d-flex">
                            <div class="img d-flex align-self-stretch align-items-center" style="background-image:url(images/Gallery/_LYL8742.JPG);">
                            </div>
                        </div>
                        <div class="col-md-6 py-md-5 text">
                            <div class="py-md-4">
                                <div class="row justify-content-start pb-3">
                                    <div class="col-md-12 ftco-animate p-4 p-lg-5 text-center">
                                        <span class="subheading mb-4" style="font-size:16px">Sự có mặt của các bạn <br>là lời chúc phúc tốt đẹp nhất với chúng tôi</span>
                                        <h2 class="mb-4" style="font-size:54px">Khánh <span>&amp;</span> Hường</h2>
                                        <span class="icon flaticon-rose-variant-outline-with-vines"></span>
                                        <span class="subheading">Hôn lễ được tổ chức vào ngày</span>
                                        <p class="time mb-4"><span>13/10/2024</span></p>
                                        <span class="subheading mb-5">Bắt đầu vào lúc 11:00</span>
                                        <span class="subheading mb-5" style="font-size:13px; text-transform:unset !important">Nhà trai:
                                            <br />Ông: <b>NGUYỄN QUỐC TIẾN</b>
                                            <br />bà: <b>ĐÀO THỊ LAN ANH</b>
                                            <br>Thôn Lôi Xá - Đức Chính - Cẩm Giàng - Hải Dương</span>
                                        <span class="subheading mb-5" style="font-size:13px; text-transform:unset !important">Nhà gái:
                                            <br />bà: <b>VŨ THỊ NGA</b>
                                            <br>Thôn Bằng Quân - Định Sơn - Cẩm Giàng - Hải Dương</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section bg-section">
    <div class="overlay-top" style="background-image: url(images/top-bg.jpg);"></div>
    <div class="overlay-bottom" style="background-image: url(images/bottom-bg.jpg);"></div>
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 text-center heading-section ftco-animate">
                <span class="clone">Cô dâu &amp; Chú rể</span>
                <h2 class="mb-3">Cô dâu &amp; Chú rể</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6 text-center d-flex align-items-stretch">
                        <div class="bride-groom ftco-animate">
                            <div class="img" style="background-image: url(images/Gallery/_LYL9198.JPG);"></div>
                            <div class="text mt-4 px-4">
                                <h2>Nguyễn Khánh</h2>
                                <p>Sinh năm 1995, biệt danh: Khánh mũi to. Con trai cả trong gia đình, wibu part time, </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center d-flex align-items-stretch">
                        <div class="bride-groom ftco-animate">
                            <div class="img" style="background-image: url(images/Gallery/_LYL9058.JPG);"></div>
                            <div class="text mt-4 px-4">
                                <h2>Nguyễn Thu Hường</h2>
                                <p>CHưa nghĩ ra văn gì cả nên viết tạm thế này thôi</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section" id="lovestory-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 text-center heading-section ftco-animate">
                <span class="clone">Love Story</span>
                <h2 class="mb-3">Dấu mốc tình yêu</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="timeline animate-box">
                    <li class="animate-box">
                        <div class="timeline-badge" style="background-image:url(images/couple-1.jpg);"></div>
                        <div class="timeline-panel ftco-animate text-md-right">
                            <div class="overlay"></div>
                            <div class="timeline-heading">
                                <span class="date">June 10, 2017</span>
                                <h3 class="timeline-title">First We Meet</h3>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in .</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge" style="background-image:url(images/couple-2.jpg);"></div>
                        <div class="timeline-panel ftco-animate">
                            <div class="overlay overlay-2"></div>
                            <div class="timeline-heading">
                                <span class="date">June 10, 2017</span>
                                <h3 class="timeline-title">First Date</h3>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in .</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box">
                        <div class="timeline-badge" style="background-image:url(images/couple-3.jpg);"></div>
                        <div class="timeline-panel ftco-animate text-md-right">
                            <div class="overlay"></div>
                            <div class="timeline-heading">
                                <span class="date">June 14, 2017</span>
                                <h3 class="timeline-title">In A Relationship</h3>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in .</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge" style="background-image:url(images/couple-4.jpg);"></div>
                        <div class="timeline-panel ftco-animate">
                            <div class="overlay overlay-2"></div>
                            <div class="timeline-heading">
                                <span class="date">May. 10, 2019</span>
                                <h3 class="timeline-title">We're Engaged</h3>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in .</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section bg-light" id="greeting-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 text-center heading-section ftco-animate">
                <span class="clone">Lời chúc ngọt ngào</span>
                <h2 class="mb-3">Lời chúc từ bạn bè</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Chúc mừng hạnh phúc 2 bạn, vun đắp tình cảm 10 năm trời cuối cùng cũng đã kết trái ngọt!</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(images/logo01.png)"></div>
                                    <div class="pl-3">
                                        <p class="name">Trung Hiếu</p>
                                        <span class="position">Bạn từ cấp 1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Roger Scott</p>
                                        <span class="position">Marketing Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(images/person_3.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Roger Scott</p>
                                        <span class="position">Marketing Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Roger Scott</p>
                                        <span class="position">Marketing Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Roger Scott</p>
                                        <span class="position">Marketing Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section" id="people-section">
    <div class="container-fluid px-md-5">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 text-center heading-section ftco-animate">
                <span class="clone">Family</span>
                <h2 class="mb-3">Người thân &amp; gia đình</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-friends owl-carousel ftco-owl ftco-animate">
                    <div class="item">
                        <div class="people text-center">
                            <div class="img" style="background-image: url(images/groom-men-1.jpg);"></div>
                            <div class="text">
                                <h3>Mark Tomy</h3>
                                <span>Groomsmen</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="people text-center">
                            <div class="img" style="background-image: url(images/groom-men-2.jpg);"></div>
                            <div class="text">
                                <h3>John Henceworth</h3>
                                <span>Groomsmen</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="people text-center">
                            <div class="img" style="background-image: url(images/groom-men-3.jpg);"></div>
                            <div class="text">
                                <h3>Rey Cooper</h3>
                                <span>Groomsmen</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="people text-center">
                            <div class="img" style="background-image: url(images/groom-men-4.jpg);"></div>
                            <div class="text">
                                <h3>Robert Chan</h3>
                                <span>Groomsmen</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="people text-center">
                            <div class="img" style="background-image: url(images/bridesmaid-1.jpg);"></div>
                            <div class="text">
                                <h3>Rose Jones</h3>
                                <span>Bridesmaid</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="people text-center">
                            <div class="img" style="background-image: url(images/bridesmaid-2.jpg);"></div>
                            <div class="text">
                                <h3>Mary Dell</h3>
                                <span>Bridesmaid</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="people text-center">
                            <div class="img" style="background-image: url(images/bridesmaid-3.jpg);"></div>
                            <div class="text">
                                <h3>Alicia Brean</h3>
                                <span>Bridesmaid</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="people text-center">
                            <div class="img" style="background-image: url(images/bridesmaid-4.jpg);"></div>
                            <div class="text">
                                <h3>Angel Worth</h3>
                                <span>Bridesmaid</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section bg-light" id="when-where-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 text-center heading-section ftco-animate">
                <span class="clone">Lịch trình</span>
                <h2 class="mb-3">Lịch trình</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ftco-animate">
                <div class="place img" style="background-image: url(images/place-1.jpg);">
                    <div class="text text-center">
                        <span class="icon flaticon-reception-bell"></span>
                        <h3 style="font-size:1.5rem">Bữa cơm thân mật</h3>
                        <p><span style="font-size:20px">THỨ BẢY</span></p>
                        <p><span>Ngày 12 tháng 10 năm 2024</span><br><span>lúc 16h00</span></p>
                        <p><span>Tại tư gia</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="place img" style="background-image: url(images/place-2.jpg);">
                    <div class="text text-center">
                        <span class="icon flaticon-wedding-kiss"></span>
                        <h3 style="font-size:1.5rem">Đón khách</h3>
                        <p><span style="font-size:20px">CHỦ NHẬT</span></p>
                        <p><span>Ngày 13 tháng 10 năm 2024</span><br><span>lúc 08h30</span></p>
                        <p><span>Tại tư gia</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="place img" style="background-image: url(images/place-3.jpg);">
                    <div class="text text-center">
                        <span class="icon flaticon-cake"></span>
                        <h3 style="font-size:1.5rem">Dự lễ thành hôn</h3>
                        <p><span style="font-size:20px">CHỦ NHẬT</span></p>
                        <p><span>Ngày 13 tháng 10 năm 2024</span><br><span>lúc 11h00</span></p>
                        <p><span>Tại tư gia</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section" id="gallery-section">
    <div class="container-fluid px-md-4">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 text-center heading-section ftco-animate">
                <span class="clone">Photos Gallery</span>
                <h2 class="mb-3">Album ảnh cưới</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 ftco-animate">
                <a href="images/gallery/_LYL8742.JPG" class="gallery img image-popup d-flex align-items-center justify-content-center" style="background-image: url(images/gallery/_LYL8742.JPG);">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="ion-ios-image"></span></div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="images/gallery/_LYL9058.JPG" class="gallery img image-popup d-flex align-items-center justify-content-center" style="background-image: url(images/gallery/_LYL9058.JPG);">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="ion-ios-image"></span></div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="images/gallery/_LYL9161.JPG" class="gallery img image-popup d-flex align-items-center justify-content-center" style="background-image: url(images/gallery/_LYL9161.JPG);">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="ion-ios-image"></span></div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="images/gallery/_LYL9198.JPG" class="gallery img image-popup d-flex align-items-center justify-content-center" style="background-image: url(images/gallery/_LYL9198.JPG);">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="ion-ios-image"></span></div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="images/gallery/_LYL9301.JPG" class="gallery img image-popup d-flex align-items-center justify-content-center" style="background-image: url(images/gallery/_LYL9301.JPG);">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="ion-ios-image"></span></div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="images/gallery/_LYL9505.JPG" class="gallery img image-popup d-flex align-items-center justify-content-center" style="background-image: url(images/gallery/_LYL9505.JPG);">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="ion-ios-image"></span></div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="images/gallery/_LYL9586.JPG" class="gallery img image-popup d-flex align-items-center justify-content-center" style="background-image: url(images/gallery/_LYL9586.JPG);">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="ion-ios-image"></span></div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="images/gallery/_LYL9589.JPG" class="gallery img image-popup d-flex align-items-center justify-content-center" style="background-image: url(images/gallery/_LYL9589.JPG);">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="ion-ios-image"></span></div>
                </a>
            </div>
        </div>
    </div>
</section>
